### 1. 반복문 사용하기 기초

In [4]:
# while 문
a = 0
while a<10 :
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [5]:
# for문 1
for c in "hello my name is heado":
    print(c,end="")

hello my name is heado

In [6]:
for item in ('apple', 'banana', 'orange'):
    print(item)

apple
banana
orange

In [8]:
# for문 2
for i in range(0,10,1):
    print(i, end =" ")

0 1 2 3 4 5 6 7 8 9

In [9]:
for i in range(10):
    print(i, end =" ")

0 1 2 3 4 5 6 7 8 9

예제1

In [12]:
for i in range(1,10):
    print(f"3*{i} = {3*i}")

3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27

In [14]:
# 가장 큰 수 찾기 알고리즘
num_list = [99,56,7,107,34,17]
n = 0
for i in num_list:
    if i>n:
        n = i
print(f"가장 큰 수는 {n}이고 {num_list.index(n)}번째에 존재합니다.")

print(max(num_list))

가장 큰 수는 107이고 3번째에 존재합니다.
107

 학점 관리 시스템 예제

In [19]:

grade=[]
st = []
while True:
    print("="*30)
    n = int(input("1.시험점수입력 2.성적확인 3.종료 : "))
    if n ==1:
        name=(input("이름 입력 : "))
        javascore=int(input("Java 점수 입력 : "))
        webscore=int(input("Java 점수 입력 : "))
        st.append([name,javascore,webscore])
        grade.append(0)
    elif n == 2:
        print("-"*30)
        print("이름\tjava\tweb\tgrade")
        print("-"*30)
        for i in range(len(st)):
            sum = st[i][1]+st[i][2]
            avg = sum/2
            if avg >=90:
                grade[i] = "A"
            elif avg >=80:
                grade[i] = "B"
            elif avg >=70:
                grade[i] = "C"
            elif avg >=60:
                grade[i] = "D"
            else:
                grade[i] = "E"
            
            print(f"{st[i][0]}\t{st[i][1]}\t{st[i][2]}\t{grade[i]}")
            print("-"*30)
    else:
        break

==============================
1.시험점수입력 2.성적확인 3.종료 : 1
이름 입력 : 김미희
Java 점수 입력 : 95
Java 점수 입력 : 88
==============================
1.시험점수입력 2.성적확인 3.종료 : 1
이름 입력 : 엘리스
Java 점수 입력 : 77
Java 점수 입력 : 65
==============================
1.시험점수입력 2.성적확인 3.종료 : 2
------------------------------
이름	java	web	grade
------------------------------
김미희	95	88	A
------------------------------
엘리스	77	65	C
------------------------------
==============================
1.시험점수입력 2.성적확인 3.종료 : 3

### 3. 딕셔너리 
- 데이터 탐색이 빠름
- 값의 의미 파악 가능
- 데이터 순서x
- key값은 고유해야 함

In [21]:
dict1 = {"name":"홍길동","age":1000,"weight":60,'key':'value'}
print(dict1["age"])

1000

In [23]:
#데이터 삭제
del dict1['key']
print(dict1)

{'age': 1000, 'weight': 60}

In [24]:
#데이터 수정 or 추가
dict1['age']=900
print(dict1)

{'age': 900, 'weight': 60}

In [27]:
#유용한 기능들
print(dict1.keys()) #모든 키 값
print(dict1.values())  #벨류 값

dict_keys(['age', 'weight'])
dict_values([900, 60])

In [28]:
#데이터 추출
dict1.get("age2")       #없는 값이라 아무것도 얻지 않음

In [29]:
#모든 값 삭제
dict1.clear()
print(dict1)

{}

In [30]:
# 반복문과 함께 사용
dict2 = {"name":"홍길동2","age":800,"weight":70}
for d in dict2:
    print(d)           # 키 값만 나옴

name
age
weight

In [31]:
for k,v in dict2.items():
    print(k,v)

name 홍길동2
age 800
weight 70

### 4. 집합
- 중복 허용 x
- 데이터 순서 x

In [32]:
s1 = set([1,2,3])
s2 = set([3,8,2])

In [33]:
s1 & s2

{2, 3}

In [34]:
s1 | s2

{1, 2, 3, 8}

In [36]:
s1-s2

{1}