In [1]:
s = '20010331Rainy'

In [2]:
year = s[:4]
day = s[4:8]
weather = s[8:]

In [5]:
print('year : '+year+'\nday : '+day+'\nweather : '+weather)

year : 2001
day : 0331
weather : Rainy

### 5. 문자열 포멧팅 
- 문자열에서 변하는 값들을 연결 할 때 사용하는 문법

In [9]:
name ="김재강"
height = 180
weight = 75
print("이름 : "+name+", 키 : "+height+", 몸무게 : "+weight)

TypeError: can only concatenate str (not "int") to str

In [8]:
name ="김재강"
height = 180
weight = 75
print("이름 : %s, 키 : %s, 몸무게 : %s" % (name,height,weight))

이름 : 김재강, 키 : 180, 몸무게 : 75

In [16]:
num = 10
pie = 3.14
print("정수 : %d, 실수 : %f"%(num, pie))

정수 : 10, 실수 : 3.140000

In [17]:
# f포맷팅
print(f"정수 : {num} 실수 : {pie}")

정수 : 10 실수 : 3.14

### 6. 문자열 함수

In [18]:
str1 = "apple apple orange apple"
str1.count("apple")

3

In [22]:
str1.find("orange")

1

In [21]:
str1.find("DDDD")

-1

In [25]:
str2 = "Apple is"
str2.upper()

'APPLE IS'

In [26]:
str3 = "  너무너무 배고파요 밥 주세요  "
print(str3.strip())

너무너무 배고파요 밥 주세요

In [29]:
print(str3.replace("밥","간식"))

  너무너무 배고파요 간식 주세요

In [31]:
str3 = str3.replace("밥","간식")

In [34]:
str4 = "쿠키,사이다,콜라,피자"
result = str4.split(',')
print(result)

['쿠키', '사이다', '콜라', '피자']

###  6. 연산자

In [1]:
# 산술 연산자
num = 10
num2 = 3
print(num/num2)
print(num%num2)
print(num//num2)

3.3333333333333335
1
3

In [2]:
# 지수연산자
print(2**3)    # 2^3

8

In [3]:
#비교연산자
print(2==3)
print(10>7)

False
True

In [4]:
# 논리연산자
print(True and False)

False

예제1

In [6]:
num1 = 7
num2 = 3
print(f"더하기결과 : {num1+num2}\n빼기 결과 : {num1-num2}\n곱하기 결과 : {num1*num2}\n나누기 결과 : {num1/num2}")

더하기결과 : 10
빼기 결과 : 4
곱하기 결과 : 21
나누기 결과 : 2.3333333333333335

예제 2

In [12]:
num = 456
print(f"결과 확인 : {num//100*100}")

결과 확인 : 400

In [17]:
# input

name =input("이름을 입력하세요 : ")

이름을 입력하세요 : dd

In [16]:
age =input("나이 : ")
type(age)

나이 : 22

str

In [18]:
type(int(age))

int

지수 연산자 예제

In [23]:
a = int(input("정수 입력 : "))
b = int(input("지수 입력 : "))
print(f"{a}의 {b}승은 {a**b}입니다.")

정수 입력 : 2
지수 입력 : 3
2의 3승은 8입니다.

삼항연산자 예제

In [25]:
ball = int(input("농구공 : "))
box = ball/5 if ball%5==0 else ball//5+1
print(f"필요한 상자의 수 : {box}")

농구공 : 33
필요한 상자의 수 : 7

조건문 예제

In [28]:
num = int(input("정수 입력 : "))
if num>0:
    print(f"{num} 양수입니다")
elif num==0:
    print(f"{num} 0입니다.")
else:
    print(f"{num} 음수입니다.")

정수 입력 : -8
-8 음수입니다.

예제 2

In [31]:
a = int(input("DB : "))
b = int(input("전자계산기구조 : "))
c = int(input("OS : "))
d = int(input("데이터통신 : "))
e = int(input("소프트웨어공학 : "))

if a+b+c+d+e>= 60 and a>=8 and b>=8 and c>=8 and d>=8 and e>=8:
    print("합격입니다!")
else:
    print("불합격입니다.")

DB : 8
전자계산기구조 : 8
OS : 12
데이터통신 : 50
소프트웨어공학 : 1
불합격입니다.

### 7. in, not in
- 문자열, 리스트, 튜플 등 여러개가 묶인 데이터에 특정 데이터가 존재하는지 확인하는 연산

In [32]:
str1 = "오늘 4교시는 프리트레이닝을 보는 시간입니다."
print("오늘" in str1)

True

In [34]:
temp_list = [1,10,'사과',"apple",3.14]
if "사과" in temp_list :
    print("oo")

oo

예제 1

In [40]:
s = "Hi, My name is Mihee"
str = input("*"*30+"\n검색 할 문자를 입력하세요 : ")
if str in s:
    print("\'%s\'는 %d번 들어 있습니다." %(str,s.count(str)))
else:
    print("\'%s\'는 문자열에 들어있지 않습니다."%str)
print("*"*30)

******************************
검색 할 문자를 입력하세요 : i
'i'는 3번 들어 있습니다.
******************************