### 1. 리스트 생성하기

In [7]:
a=[]
b=[1,2,3]
c=['apple',"banana"]
d=[1, 3.14,'orange']
e = [1,2,[3,4,5]]
f = ['a','b','c',[1,2,['d','e']]]

### 2. 인덱싱, 슬라이싱

In [11]:
# 인덱싱
print(c[1])
print(c[-1])

print(e[2][1])
print(f[-1][-1][0])

print(f[1:])

banana
banana
4
d
['b', 'c', [1, 2, ['d', 'e']]]

### 3. 리스트 길이 확인
- len() : 리스트, 튜블, 문자열 등 묶여있는 데이터의 길이 확인

In [15]:
print(len(f))
print(len((1,2,3,4,5,6)))

4
6

#### 4. 리스트 연산
- 더하기, 곱하기

In [25]:
#더하기
list1 = [1,2,3]
list2 = [4,5,6,7]

list1+list2

[1, 2, 3, 4, 5, 6, 7]

In [26]:
#곱하기
list1 *3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 5. 리스트 데이터 수정, 삭제, 추가

In [37]:
list3 = ['a','b',1,2,3]

#수정
list3[2] = 5

print(list3)

list3[1:3] = [6]
print(list3)

['a', 'b', 5, 2, 3]
['a', 6, 2, 3]

In [38]:
#삭제
del list3[0]
print(list3)

[6, 2, 3]

In [39]:
list3[:2] = []
print(list3)

[3]

In [40]:
#추가
list3.append('orange')
print(list3)

[3, 'orange']

In [41]:
list3.insert(1,'banana') #원하는 위치에 추가
print(list3)

[3, 'banana', 'orange']

### 6. 그 외 추가 기능

In [33]:
# 정렬
list4 = [10,9,56,3,7,100]
list4.sort()

In [34]:
print(list4)

[3, 7, 9, 10, 56, 100]

In [42]:
list4.sort(reverse=True)
print(list4)

[100, 56, 10, 9, 7, 3]

In [43]:
# 뒤집기
list5 = ['a',1,'c',[1,2]]
list5.reverse()
print(list5)

[[1, 2], 'c', 1, 'a']

In [44]:
# 원하는 데이터 위치 찾기
print(list5.index('c'))

1

In [45]:
# 원하는 데이터 추출
print(list5.pop())

a

In [46]:
list5.pop()
print(list5)

[[1, 2], 'c']

In [47]:
print(list5.pop(0))

[1, 2]

In [48]:
list5.remove('c')
print(list5)

[]

###  7. 튜블
- 리스트와 다르게 추가, 수정 삭제 불가능

In [50]:
a = (1,4,5,6,'a',(7,8))
b = ('apple', 'banana')

In [51]:
# 튜플 연산
a+b

(1, 4, 5, 6, 'a', (7, 8), 'apple', 'banana')

In [55]:
3*b

('apple', 'banana', 'apple', 'banana', 'apple', 'banana')

In [56]:
# 인덱싱 슬라이싱
print(b[-2:])

('apple', 'banana')

In [57]:
# 데이터 삭제/ 수정
del a[1]

TypeError: 'tuple' object doesn't support item deletion

In [58]:
b[3] = 'bb'

TypeError: 'tuple' object does not support item assignment